.header__lang-link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    width: 30px;
    height: 28px;
    transition: 0.4s ease-in;
}
.header__lang-link:last-child{
    margin-right: 0;
}
.header__lang-link:hover{
    opacity: 0.8;
}

.header__lang-link:last-child {
    margin-right: 0px;
}