.header {
  max-width: 1184px;
  margin: 0 auto;
  width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2*24px);
  }
}