.footer__link {
    color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0em;
    margin-right: 18px;
    text-decoration: none;
    transition: 0.4s ease-in;
}
.footer__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .footer__link{
        
    }
}