.place__paragraph {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0em;
    color: #fff;
}
@media screen and (max-width: 320px) {
    .place__paragraph {
        width: calc(100% - 2*16px);
        margin: 0 auto;
        
    }
}