@import url(../vendor/normalize.css);
/*
@font-face {
    src: url() format(),
         url() format();
}
*/

/* Header */

.body{
    background-color: #2a2c2f;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.page{
    width: calc(100% - 2*48px);
}
.header{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    justify-content: space-between;
    min-width: 600px;
}
.header__logo{
    width: 176px;
    height: 52px;
}
.header__lang{
    display: flex;
    flex-direction: row;
    margin-right: 48px;
    margin-top: 18px;
}
.header__lang-link{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    width: 30px;
    height: 28px;
}
.header__lang-link1{
    text-decoration: underline;
}
.header__lang-link:last-child{
    margin-right: 0px;
}
.content{
    display: flex;
    margin-top: 56px;
    flex-direction: column;
}
.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984;
}
.lead__title{
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    width: 720px;
}
.lead__subtitle{
    margin-top: 32px;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #fff;
}
.lead__image{
    margin-top: 64px;
    width: 984px;
    height: 615px;
}
.lead__caption{
    margin-top: 8px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    color: #fff;
    align-self: flex-start;
    margin-left: 148px;
}
.intro{
    margin-top: 92px;
    display: flex;
    flex-direction: column;

}
.intro__title{
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    color: #fff;
    margin-left: 148px;

}
.intro__subtitle{
    margin-top: 40px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #fff;
    max-width: 690px;
    margin-left: 148px;

}
.intro__list{
    margin-top: 33px;
    margin-left: 148px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 148px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    padding: 0;;
}
.photo-grid{
    margin-top: 92px;
    margin-left: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 16px;
}
.photo-grid__item{
    
}
.places{
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place{
    margin-top: 80px;
    max-width: 984px;
    width: 100%;
    display: grid;
    grid-template-columns: 460px 484px;
    gap: 40px;
}
.place:first-child{
    margin-top: 0;
}
.place__title{
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    color: #fff;
    margin-top: auto;
}
.place__image{

}
.place__website{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.place__website_url-heading{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    color: #aaa;
    display: flex;
}
.place__website_link{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #fff;
}
.place__paragraph{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: #fff;
}
.place__paragraph_bottom{
    margin-top: 26px;
}
.cover{
    margin-top: 92px;
    width: 100%;
 /*   width: calc(100% - 2*48px); */
    display: flex;
    flex-direction: column;
    align-self: center;
}
.cover__background{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
    min-height: 740px;
    background-image: url(../images/__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #aaa;

}
.cover__title{
    margin-top: 245px;
    width: 560px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}
.cover__subtitle{
    margin-top: 32px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}
.footer{
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;

}
.footer__link{
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    margin-right: 10px;
}
.footer__copyright{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #fff;
    align-self: center;
}