.intro__title {
    display: block;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    color: #fff;
}
@media  screen and (max-width: 320px) {
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
}

